body {
    color:#cebfeb;
    background-color:#090825;
}

.background {
    background-color:#629d9c;
    background-image:url(../images/galaxypoly.jpg);
    background-size: cover;
    background-position: center;
}

#new-game-button {
    outline:none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #cebfeb;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
    box-shadow: 0 3px #5f5f5e;
    top: 2px;
}

#new-game-button:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}

#placeholder-section {
    background-color:#39289b;
}

#placeholders {
    letter-spacing: 8px;
    font-size: 36px;
}